body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.content {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
}

.buttonHolder {
    text-align: center;
}

#created {
    margin-bottom: 10px;
}