<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/head" th:with="title='AuthID - Login'"></head>
<body onload="document.form.username.focus();">
<div class="container">
    <div class="form-login-container">
        <h1>AuthID</h1>
        <p th:if="${param.logout}" class="alert">You have been logged out</p>
        <p th:if="${param.error}" class="alert alert-error">There was an error, please try again</p>
        <form name="form" th:action="@{/login}" action="/login" method="POST" class="form-login">
            Username
            <input class="form-control" type="text" name="username" value="" placeholder="Username"/>
            Password
            <input class="form-control" type="password" name="password" placeholder="Password"/>
            <div class="checkbox">
                <label>
                    <input type="checkbox" name="remember-me"/> Remember me
                </label>
            </div>
            <div class="buttonHolder">
                <input type="submit" id="login" value="Login" class="btn btn-lg btn-primary btn-block"/>
            </div>
        </form>
    </div>
</div>
</body>
</html>
